{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel='stylesheet' href="{% static 'css/details.css' %}"/>
{% endblock head %}
{% block body %}
    <div class='container mt-5'>
        <div class='row row-cols-1 row-cols-lg-2'>
            <div class='col mb-5 image-column'><img src='{{product.img.url}}'/></div>
            <div class='col'>
                <div class='card'>
                    <div class='card-body'>
                        <div class='card-title'><h1>{{product.name}}</h1></div>
                        <div class='card-subtitle my-3'><h4>Price : {{product.price}}</h4></div>
                        <div class='card-text'>{{product.desc}}</div>
                        <div class='card-footer mt-4' style="border:none;">
                            <a href="/cart/{{product.id}}" class='btn btn-primary'>Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}